*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary:rgb(41, 72, 255);
    --secondary: white;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #7B9BFF 0%, #3868FD 72%);
    padding: 200px;
}

.container{
    width: 550px;
    background-color: var(--secondary);
    padding: 40px;
    border-radius: 10px;
}

.logo_image{
    width: 32px;
    height: 32px;
}

.logo{
    display: flex;
    gap: 8px;
    padding-bottom: 8px;
}

.brand{
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--primary);
}

.desc1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 8px 0;
}

.desc2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    padding: 8px 0;
}

/*form style*/
.form-group{
    margin: 10px 0;
}

label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
}

.input-box{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    background-color: #FCFDFE;
    margin: 10px 0;
}
.icon{
    margin: 8px;
    color: #4F5665 ;
}

input{
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/*submit side*/
.btn-submit{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}
